* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.wrap {
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.input-value {
    width: 50px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    position: absolute;
}
.top-left {
    top: 0;
    left: 0;
}
.top-right {
    top: 0;
    right: 0;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.bottom-right {
    bottom: 0;
    right: 0;
}
.box {
	width: 240px;
	height: 240px;
    
	background-color: red;
    border: 5px solid black;
}
.result-border {
    padding: 20px;
    border: 1px solid black;
    position: relative;
    margin: 15px;
    background-color: rgba(0,0,0,.2);
}

.btn {
    border: 1px solid white;
    padding: 5px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: white;
    background-color: rgba(0,0,0,.5);
}
.hide {
    display: none;
}